:root {
    --color-bg: #F8F8F8;
    --color-bg-complement: #f0f0f0;
    --color-text: #080808;
    --color-text-white: #f3f3f3;
    --color-text-unimportant: rgb(126, 126, 126);
    --color-text-unimportant-hover: rgb(85, 85, 85);
    --color-text-unimportant-dark: #646464;
    --color-text-unimportant-dark-hover: #444444;

    --color-secondary-button: #e9e9e9;
    --color-secondary-button-hover: #d3d3d3;

    --color-primary: #7C58FB;
    --color-primary-hover: #6a48e4;

    --color-button-hover: #ebebeb;

    --color-border: #5a5a5a;
    --color-border-hover:rgb(77, 77, 77);
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(161, 171, 189, 0.3);

    --color-placeholder: rgba(0,0,0,0.45);

    --color-theme-background-light: #F6F6F6;
    --color-theme-foreground-light: #c2c2c2;
    --color-theme-accent-light: #1b1b1b;
    --color-theme-background-dark: #1a1a20;
    --color-theme-foreground-dark: #28272c;
    --color-theme-accent-dark: #d8d8d8;

    --font-size-logo: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-base: 1rem;
    --font-size-small: 0.875rem;
}

.theme-dark {
    --color-bg: #18181f;
    --color-bg-complement: #15151b;
    --color-text: #f0f0f0;
    --color-text-black: #131313;
    --color-text-unimportant: #c2c2c2;
    --color-text-unimportant-hover: #d3d2d2;
    --color-text-unimportant-dark: #646464;
    --color-text-unimportant-dark-hover: #444444;

    --color-button-hover: #1d1d27;

    --color-secondary-button: #e9e9e9;
    --color-secondary-button-hover: #d3d3d3;

    --color-border: #666666;
    --color-border-hover:rgb(99, 99, 99);
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(11, 11, 12, 0.575);
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.theme-dark {
    --color-bg: #121212;
    --color-text: #f0f0f0;

    --color-border: #666666;

    --shadow: 0px 8px 16px rgba(0,0,0,0.5);
    --placeholder-color: rgba(255,255,255,0.55);
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Inter-Regular, sans-serif;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.hidden {
    display: none!important;
}