:root {
    --color-bg: #F8F8F8;
    --color-bg-complement: #f0f0f0;
    --color-text: #080808;
    --color-text-white: #f3f3f3;
    --color-text-unimportant: rgb(126, 126, 126);
    --color-text-unimportant-hover: rgb(85, 85, 85);
    --color-text-unimportant-dark: #646464;
    --color-text-unimportant-dark-hover: #444444;

    --color-secondary-button: #e9e9e9;
    --color-secondary-button-hover: #d3d3d3;

    --color-primary: #7C58FB;
    --color-primary-hover: #6a48e4;

    --color-button-hover: #ebebeb;

    --color-border: #5a5a5a;
    --color-border-hover:rgb(77, 77, 77);
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(161, 171, 189, 0.3);

    --color-placeholder: rgba(0,0,0,0.45);

    --color-theme-background-light: #F6F6F6;
    --color-theme-foreground-light: #c2c2c2;
    --color-theme-accent-light: #1b1b1b;
    --color-theme-background-dark: #1a1a20;
    --color-theme-foreground-dark: #28272c;
    --color-theme-accent-dark: #d8d8d8;

    --font-size-logo: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-base: 1rem;
    --font-size-small: 0.875rem;
}

.theme-dark {
    --color-bg: #18181f;
    --color-bg-complement: #15151b;
    --color-text: #f0f0f0;
    --color-text-black: #131313;
    --color-text-unimportant: #c2c2c2;
    --color-text-unimportant-hover: #d3d2d2;
    --color-text-unimportant-dark: #646464;
    --color-text-unimportant-dark-hover: #444444;

    --color-secondary-button: #e9e9e9;
    --color-secondary-button-hover: #d3d3d3;

    --color-button-hover: #1d1d27;

    --color-border: #666666;
    --color-border-hover:rgb(99, 99, 99);
    --color-box-shadow: rgba(0, 0, 0, 0.219);
    --color-box-shadow-input: rgba(11, 11, 12, 0.575);
}

main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.active-month {
    color: white;
    background-color: var(--color-primary-hover);
}

.active-date {
    color: var(--color-primary);
    font-weight: bold;
}

.active-cell {
    outline: .0625rem solid var(--color-primary);
}

.active-day-number {
    color: var(--color-primary)!important;
}

.my-appointments-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    max-width: 100vw;
    height: 100%;
}

.my-appointments-container .buttons{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    gap: 1rem;
}

.my-appointments-container .buttons button{
    padding: .25rem 2rem;
    width: 10rem;
    background-color: red;
}

.my-appointments-container .calendar-view{
    display: flex;
    gap: 1rem;
    min-height: 0;
}

/*##################################
*   Calendar Controls Styles
##################################*/ 
.my-appointments-container .calendar-view .calendar-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    background-color: var(--color-primary);
    color: var(--color-theme-foreground-light);
    width: 12rem;
}

.my-appointments-container .calendar-view .calendar-controls .year-container{
    font-size: var(--font-size-large);
}

.my-appointments-container .calendar-view .calendar-controls .months-container{
    display: flex;
    flex-direction: column;
}

.my-appointments-container .calendar-view .calendar-controls .months-container .month-button {
    width: 12rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.my-appointments-container .calendar-view .calendar-controls .months-container .month-button:hover {
    background-color: var(--color-primary-hover);
    color: white;
}

/*##################################
*   Calendar Container Styles
##################################*/ 
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;
}

.calendar-weekday {
    padding: .5rem 0;
}

.calendar-cell {
    min-height: 8rem;
    min-width: 10rem;
    box-shadow: 1px 1px 8px var(--color-box-shadow);
    background: var(--color-bg);
    border-radius: .5rem;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.calendar-cell:hover {
    box-shadow: 1px 1px 8px var(--color-bg-complement);
    background-color: var(--color-bg-complement);
    color: var(--color-text-unimportant-dark);
}

.calendar-cell--empty {
    background: var(--color-bg-complement);
    border: none;
    color: var(--color-text-unimportant-dark-hover);
}

.calendar-day-number {
    font-size: var(--font-size-large);
}

.calendar-cell--has-appointments {
    background-color: #90cdf4;
}

.calendar-cell--has-appointments:hover {
    background-color: #63b3ed;
}

/*##################################
*   Calendar Details Styles
##################################*/ 

.calendar-details {
    background-color: var(--color-bg-complement);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.calendar-details-date{
    font-size: var(--font-size-large);
}

.calendar-details-content {
    display: flex;
    flex-direction: column;
    gap: .1rem;
    margin-top: 1rem;
    overflow-x: hidden;
}

.calendar-details-time-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    height: 100px;
    min-height: 100px;
    background-color: red;
}
