:root {
    --color-bg: #F8F8F8;
    --color-bg-complement: #f0f0f0;
    --color-text: #080808;
    --color-text-white: #f3f3f3;
    --color-text-unimportant: rgb(126, 126, 126);
    --color-text-unimportant-hover: rgb(85, 85, 85);
    --color-text-unimportant-dark: #646464;
    --color-text-unimportant-dark-hover: #444444;

    --color-secondary-button: #e9e9e9;
    --color-secondary-button-hover: #d3d3d3;

    --color-primary: #7C58FB;
    --color-primary-hover: #6a48e4;

    --color-button-hover: #ebebeb;

    --color-border: #5a5a5a;
    --color-border-hover:rgb(77, 77, 77);
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(161, 171, 189, 0.3);

    --color-placeholder: rgba(0,0,0,0.45);

    --color-theme-background-light: #F6F6F6;
    --color-theme-foreground-light: #c2c2c2;
    --color-theme-accent-light: #1b1b1b;
    --color-theme-background-dark: #1a1a20;
    --color-theme-foreground-dark: #28272c;
    --color-theme-accent-dark: #d8d8d8;

    --font-size-logo: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-base: 1rem;
    --font-size-small: 0.875rem;
}

.theme-dark {
    --color-bg: #18181f;
    --color-bg-complement: #15151b;
    --color-text: #f0f0f0;
    --color-text-black: #131313;
    --color-text-unimportant: #c2c2c2;
    --color-text-unimportant-hover: #d3d2d2;
    --color-text-unimportant-dark: #646464;
    --color-text-unimportant-dark-hover: #444444;

    --color-secondary-button: #e9e9e9;
    --color-secondary-button-hover: #d3d3d3;

    --color-button-hover: #1d1d27;

    --color-border: #666666;
    --color-border-hover:rgb(99, 99, 99);
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(11, 11, 12, 0.575);
}

main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.welcome-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

.welcome-container .welcome-card h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.25rem;
    margin-bottom: 1rem;
}

.welcome-container .welcome-card input {
    width: 50rem;
    padding: .75rem 1.5rem;
    background-color: var(--color-bg-complement);
    border: none;
    border-radius: 2rem;
    box-shadow: inset 0 0 5px var(--color-box-shadow-input);
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.welcome-container .welcome-buttons {
    margin-top: 2rem;
    display: flex;
    width: 50rem;
    height: 6.5rem;
    gap: 1rem;
}

.welcome-container .welcome-buttons .button {
    position: relative;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.welcome-container .welcome-buttons .title {
    font-family: Inter-Bold, sans-serif;
    letter-spacing: .15rem;
    color: var(--color-text-unimportant);
}

.welcome-container .welcome-buttons .description {
    margin-top: 1rem;
    font-size: var(--font-size-small);
    color: var(--color-text-unimportant);
}

.welcome-container .welcome-buttons .button-primary {
    background-color: var(--color-bg-complement);
    border: .0625rem solid var(--color-border);
}

.welcome-container .welcome-buttons .button-primary .title,
.welcome-container .welcome-buttons .button-primary .description {
    color: var(--color-text-unimportant-dark);
}

.welcome-container .welcome-buttons .button-secondary {
    background-color: var(--color-primary);
    border: .0625rem solid var(--color-primary);
}

.welcome-container .welcome-buttons .button-primary:hover  {
    background-color: var(--color-button-hover);
    border: .0625rem solid var(--color-border-hover);
    transition: background-color 0.2s ease, border 0.2s ease;
}

.welcome-container .welcome-buttons .button-secondary:hover {
    background-color: var(--color-primary-hover);
    border: .0625rem solid var(--color-primary-hover);
    color: var(--color-text-white); 
}

.welcome-container .welcome-buttons .button-secondary .description,
.welcome-container .welcome-buttons .button-secondary .title {
    color: var(--color-secondary-button);
}

.welcome-container .welcome-buttons .button-secondary:hover .description,
.welcome-container .welcome-buttons .button-secondary:hover .title {
    color: var(--color-secondary-button-hover);
}

.welcome-container .welcome-buttons .button-primary:hover .title,
.welcome-container .welcome-buttons .button-primary:hover .description {
    color: var(--color-text-unimportant-dark-hover);
}

.welcome-container .welcome-buttons .icon {
    position: absolute;
    right: 1rem;
    top: .5rem;
    font-size: 1.25rem;
    color: var(--color-text);
    opacity: .2; 
}