:root {
    --color-bg: #F8F8F8;
    --color-bg-complement: #F6F6F6;
    --color-text: #080808;
    --color-text-white: #f8f8f8;

    --color-primary: #7C58FB;

    --color-border: #5a5a5a;
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(161, 171, 189, 0.3);

    --color-placeholder: rgba(0,0,0,0.45);

    --font-size-logo: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-base: 1rem;
    --font-size-small: 0.875rem;
}

.theme-dark {
    --color-bg: #18181f;
    --color-bg-complement: #1b1b24;
    --color-text: #f0f0f0;

    --color-border: #666666;
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(11, 11, 12, 0.575);
}

main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.welcome-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

.welcome-container .welcome-card h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.25rem;
    margin-bottom: 1rem;
}

.welcome-container .welcome-card input {
    width: 50rem;
    padding: .75rem 1.5rem;
    background-color: var(--color-bg-complement);
    border: none;
    border-radius: 2rem;
    box-shadow: inset 0 0 5px var(--color-box-shadow-input);
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.welcome-container .welcome-buttons {
    margin-top: 2rem;
    display: flex;
    width: 50rem;
    height: 6.5rem;
    gap: 1rem;
}

.welcome-container .welcome-buttons .button {
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.welcome-container .welcome-buttons .title {
    font-family: Inter-Bold, sans-serif;
    letter-spacing: .15rem;
    opacity: 1;
}

.welcome-container .welcome-buttons .description {
    margin-top: 1rem;
    font-size: var(--font-size-small);
    opacity: 0.9;
}

.welcome-container .welcome-buttons .button-primary {
    background-color: var(--color-bg-complement);
    border: .0625rem solid var(--color-primary);
}

.welcome-container .welcome-buttons .button-secondary {
    background-color: var(--color-primary);
    border: .0625rem solid var(--color-primary);
    color: var(--color-text-white); 
}